body {
    text-align: center;
    margin: -8px;
    background-color: white;
    display: block;


}

#navi {
    background-color: rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 40px;

    text-align: right;
    font-family: zapfino;

    position: fixed;
    border-radius: 0px 0px 6px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    font-size: 1em;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-top: -8px;
    z-index: 99999;
}

#navi a {
    color: black;
}

h2 {
    font-size: 3em;
    font-family: impact;
}

header {
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 8%;
    width: 100%;
    font-family: impact;
}


.header {
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 1.5em;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    #height: 100%;
    background-color: rgb(255, 225, 109);
    overflow: hidden;
}



#contact {
    background-color: white;
    background-position: 0 65%;
    width: 100%;
    height: 400px;
}

.contact-content {
    padding-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

footer {
    clear: both;
    line-height: 2em;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 6px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 50px;
    padding: 10px 0;
    font-size: 1.5em;
    color: black;
}

footer a {
    color: black;
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
    .col-4 {
        width: 44%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .col-4 {
        width: 95%;
        height: auto;
    }
}
