body {
    text-align: center;
    margin: -8px;
    background-color: rgba(252, 203, 42,1);
}

#navi {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 40px;
    color: white;
    text-align: right;
    font-family: zapfino;
    background-color: #5c1b06;
    position: fixed;
    border-radius: 0px 0px 6px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    font-size: 1em;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-top: -8px;
    z-index: 99999;
}

#navi a {
    color: white;
}

h2 {
    font-size: 3em;
    font-family: impact;
}

header {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 8%;
    width: 100%;
    font-family: impact;
}

#header h1 {
    font-size: 4em;
}

#header h2 {
    font-size: 3em;
    font-family: impact;
}

#header-text {
    font-size: 2em;
}

#header-text2 {
    font-size: 2em;
    color: #5c1b06;
}

.header {
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 1.5em;
}

#about {
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

.about-content {
    width: 90%;
    font-family: 'Birdseye', sans-serif;
    font-weight: 500;
    line-height: 2.5em;
    margin: 0 auto 30px;
    background-position: bottom;
    font-family: zapfino;
}

.about-content p {
    padding: 0 100px;
    vertical-align: text-bottom;
    width: 60%;
    margin: auto;
}

.profile-pic {
    margin: 50px;
    max-width: 360px;
    min-width: 240px;
    border-radius: 450px 450px 450px 450px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

#portfolio {

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#portfolio h3 {
    font-size: 1.5em;
}

#portfolio .portfolio-item {
    vertical-align: top;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

#portfolio a {
    background: black;
    display: inline-block;
    border-radius: 250px;
}

#portfolio img {
    border-radius: 250px;
    display: block;
    width: 100%;
    max-width: 360px;
    min-width: 240px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#portfolio img:hover {
    width: 100%;
    max-width: 360px;
    min-width: 240px;
    border-radius: 250px;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.9);
    opacity: 0.8;
}

#portfolio .portfolio-text {
    width: 80%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1em;
}

.row {
    width: 100%;
    padding: 30px 0;
}

.col-4 {
    width: 30%;
    height: 600px;
    display: inline-block;
}

#contact {

    background-position: 0 65%;
    width: 100%;
    height: 400px;
}

.contact-content {
    padding-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

footer {
    clear: both;
    line-height: 2em;
    background-color: #5c1b06;
    border-radius: 0px 0px 6px 0px;
    width: 100%;
    height: 50px;
    padding: 20px 0;
    font-size: 1.5em;
    color: white;
}

footer a {
    color: white;
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
    .col-4 {
        width: 44%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .col-4 {
        width: 95%;
        height: auto;
    }
}
