body {
    text-align: center;
    margin: -8px;
    background-color: rgba(0, 0, 0, 0.9);
    display: block;


}
#logohome{
  background-image: url(images/icon3.png);
  #width:80%;
  #height:80%;

}
#navi {
    background-color: rgba(0, 0, 0, 0.9);
    #list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 40px;

    text-align: center;
    font-family: zapfino;

    position: fixed;
    border-radius: 0px 0px 3px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    #-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    font-size: 1em;
    margin-bottom: 13px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    margin-top: 3px;
    z-index: 99999;
}

#navi a {
    color: white;
}
#hello{
  font-size:14em;
  margin-top: -0.68em;
  margin-bottom: -0.7em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
#name{
  font-size: 3em;
  margin-bottom: -0.8em;
}
#resume{
  font-size: 3em;
  display: inline-block;


  font:Arial;
}
#plus{
  font-size: 3em;
    font:Arial;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
    font-size: 3em;
    font-family: impact;
}

header {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 8%;
    width: 100%;
    font-family: impact;
}


.header {
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 1.5em;
}
/*
#blackwrapper{
   #float:left;
   list-style: none;
   -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    padding-top: 2px;
    width: 100px;
    background: black;
}
*/
#wrapper {
    position: contact-content;
    top: 0;
    left: 0;
    #width: 1324px;
    width: 100%;
    height: 824px;
    #height: 100%;
    margin: auto;
    margin-top: -20px;
    margin-bottom: -20px;
    #height: 100%;
    background-color: rgb(255, 225, 109);
    overflow: hidden;
    border-radius: 0px 0px 6px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}



#contact {

    background-position: 0 65%;
    width: 100%;
    height: 400px;
}

.contact-content {
    padding-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

footer {

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.98);
    border-radius: 0px 0px 6px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    width: 100%;
    position: absolute;
    text-align: center;
    height: 55px;
    #padding: 10px 10px;
    font-size: 1.2em;
    margin-bottom: -53px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-top: 3px;
    color: white;
    font-family: monospace;

    z-index: 99999;
}



@media screen and (min-width: 769px) and (max-width: 1366px) {
    .col-4 {
        width: 44%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .col-4 {
        width: 95%;
        height: auto;
    }
}
